*.Rproj.user
*.Rhistory
*.RData
*.RDS
*.rds
*.rda
*.RDA
*.Ruserdata
*.log
*.rdb
*.rdx
~/Lprojects/MRbook/imprecision_weight/chapter/imprecision_weight_cache
*cache/
.Rproj.user
references/referencesMRbook.bib.sav
.RDataTmp
.vscode/settings.json

**/figure-pdf/**
**/figure-pdf/**/*
**/figure-pdf/
**/figure-latex/**


imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigcharitableImpact75-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigevidenceResponse2-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigfplinesPlot3-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/Figfppdistros-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigfppMinima-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/Figinertia3-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FIgkldsPlots-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigposteriorPrediction2-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/FigSCwithHOPa-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/impactOfPoint4-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/scBNplot2-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/SCfentonTable2-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/SClrs-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/SCwithHOP-1.pdf
imprecision_weight/paper/imprecision_philosophical_paper2_files/figure-latex/SCwithHOP2-1.pdf
