*.Rproj.user
*.Rhistory
*.RData
*.RDS
*.rds
*.rda
*.RDA
*.Ruserdata
*.log
*.rdb
*.rdx
~/Lprojects/MRbook/imprecision_weight/chapter/imprecision_weight_cache
*cache/
.Rproj.user
references/referencesMRbook.bib.sav
.RDataTmp
